.cover {
  background-image: url("../cover.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;

  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  box-sizing: border-box;
  display: block;
  text-align: center;
  color: #fff;

  padding-top: 17rem;
  padding-bottom: 12.5rem;
}

@keyframes fadeIn { 
    from { opacity: 0; } 
  }
  

.text_cover {
    font-size: 3rem;
    color:  #20d155;
    /* animation: fadeIn 2s infinite alternate; */
}

.line{
  
border-top: 3px solid  #20d155;
}
